<%- include('./partials/header')%>
      

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">About Area</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header">
                        
                        </div>
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">About</h6>
                        </div>
              
                        <div class="card-body">
                            <div class="table-responsive">
                                <form class="" action="/admin/about" method="post" >
                                    <div class="form-group">
                                        <label for="exampleInputEmail2">Heading Title : </label>
                                        <input type="text" id="exampleInputEmail2" class="form-control" name="heading" value="<%=about.heading%>">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail3">Sub heading title : </label>
                                        <input type="text" id="exampleInputEmail3" class="form-control" name="subheading" value="<%=about.subheading%>">
                                    </div>

                                    <div class="form-group">
                                        <textarea name="content" id="editor1" rows="10" cols="80">
                                          <%=about.content%>
                                      </textarea>
                                    </div>
  
                                    
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
<%- include('./partials/footer')%>